<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-BigPrintWebsite-20180407025552.mdf;Initial Catalog=aspnet-BigPrintWebsite-20180407025552;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="HTPS_db"
      connectionString="Data Source=.; Initial Catalog=HTPS_Database; Integrated Security= true"
      providerName="System.Data.SqlClient"/>
</connectionStrings>